*{
    margin: 0px;
    
    font-family: 'Inter', sans-serif;

}
#MenuSuperior{
    background-color: #303030 ;
    height: 300px;
      
}
#tituloSuperior{
    margin-left: 100px;
    padding-top: 100px;
    font-size: 50px;
    color: white;
}
#SUBtitulo{
    margin-left: 100px;
    font-size: 20px;
    color: white;
}
#informativo{
   background-color: #F9F9F9;
   display: grid;
   grid-auto-flow: column;
   columns: auto; 
   padding: 40px 0px 40px 200px
   
     
}
.informacao{
    display: flex;
    text-align: center;
  
}
.informacao, h1{
    font-size: 50px;
}
.informacao, p{
    font-size: 20px;
}
#propaganda{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#texto{

}

#apartamento{
    width: 350px;
    
}

