*{
    margin: 0px;
    font-family: 'Inter', sans-serif;

}
#MenuSuperior{
    background-color: #303030 ;
    height: 300px;
      
}
#tituloSuperior{
    margin-left: 50px;
    padding-top: 100px;
    font-size: 50px;
    color: white;
}
#SUBtitulo{
    margin-left: 50px;
    font-size: 20px;
    color: white;
}
#informativo{
   background-color: #F9F9F9;
   display: grid;
   grid-auto-flow: column;
   columns: auto; 
   padding: 40px;
   
     
}
.infromacao{
    margin: 0 100px;
}
    


#propaganda{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#texto{
margin-top: 23%;
margin-left: 10%;
}
#texto, h1{
    font-size: 40px;
}
#texto, p{
font-size: 20px;
}

#apartamento{
    width: 510px;
    height: 605px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
#formulario{
    background-color: #303030;
    text-align: center;
}
#tituloForm{
    color: white;
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 10px;
}
input{
    margin: 10px;
    width: 320px;
    height: 35px;
    border-radius: 7px;
    border: none;
    color: black;
    padding-left: 10px;
}
button{
    width: 180px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: #C07212;
    border-radius: 10px;
    border: none;
    margin: 50px;
}
button:hover{
    background-color: #da8b2a;
    transition: 500ms;
    transform: translateY(-7px);
    box-shadow: 0px 15px 15px #2e200ebd ;
}

